:root{
	@apply light;
}

.dark{
	--color-bg-primary : #212121;
	--color-bg-secondary : #08FDD8;
	--color-bg-tertiary : #FD2155;
	--color-bg-input : #363636;
	--color-bg-sidebar : #161616;
	--color-bg-error : #FDEDED;
	--color-text-primary : #FFFFFF;
	--color-text-muted : #919191;
	--color-text-success : #4BB543;
	--color-text-error : #5F2120;
	--color-text-whitely : #EBDFCA;
	--color-hover-button : #047E6C;
}

.light{
	--color-bg-primary : #F0F0F0;
	--color-bg-secondary : #08FDD8;
	--color-bg-tertiary : #FD2155;
	--color-bg-input : #FFFFFF;
	--color-bg-sidebar : #d3d3d3;
	--color-bg-error : #FDEDED;
	--color-text-primary : #161616;
	--color-text-muted : #919191;
	--color-text-success : #4BB543;
	--color-text-error : #5F2120;
	--color-text-whitely : #000000;
	--color-hover-button: #047E6C;
}






@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

input{
	outline: none !important;
}

html,body{
	margin:0;
}

.radio__label > input{
  display: none;
}

.radio{
  width: 1.25rem;
  height: 1.25rem;
  background-color: white;
  border-radius: 50%;
  padding: 0.2rem;
  margin-right:0.5rem;
  cursor: pointer;
}

.radio::before{
  content: "";
  width: 100%;
  height: 100%;
  transform: scale(0);
  display: block;
  background-color: #FD2155;
  border-radius: 50%;
  transition: all 50ms;
}

.radio__label > input:checked + .radio::before{
  transform: scale(1);
}

.header-title{
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
}

.header-title-sm{
  font-family: 'Press Start 2P', cursive;
}

.header-title > span{
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  color: #FD2155;
}

.header-title-sm > span{
  font-family: 'Press Start 2P', cursive;
  color: #FD2155;
}

.input-container{
	box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.3);
	transition: all 200ms ease;
}

/* .input-container:has(.search-input:focus){
	box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.8);
} */

.search-icon,.cross-icon{
	transform: scale(1.4);

}

aside{
  position: fixed;
  width: 20rem;
  height: 100vh;
  top: 0rem;
  left: -20rem;
  z-index: 20;
  transition: all 200ms ease;
}

aside.active{
  transform: translateX(20rem);
  box-shadow: 5px 0px 15px 3px rgba(0, 0, 0, 0.5);
}

.overlay{

  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: scale(0);
  transition: all 200ms ease;
  z-index: 11;
  /* background-image: linear-gradient(to left, rgba(255,0,0,0), rgba(255,0,0,1)); */
}

.overlay.active{
  transform: scale(1);
}

.toggle-theme{
	position: absolute;
	transition: all 150ms ease-in-out;
}

.toggle-theme.active{
	left: 0rem;
}
.toggle-theme.inactive{
	left: -20rem;
}

.header-title-result{
	flex: 1;
}
.search-bar{
	flex:2;
}
.social-bar{
	flex:1;
}


.dark .ant-modal-content{
	background-color: black !important;
	color: white !important;
}
.dark .ant-modal-header{
	background-color: black !important;
	border-bottom: 1px solid #303030;
}
.dark .ant-modal-title{
	color: white !important;
}
.dark .ant-modal-footer{
	border-top: 1px solid #303030;
}
.emoji{
  font-size: 3rem;
}
.dark .ant-btn{
	border: 1px solid white !important;
	color: white !important;
	background-color: black !important;
	transition: all 100ms ease;
}
.dark .ant-btn:hover{
	color: black !important;
	background-color: white !important;
}
